{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <div class="shadow ml-5 p-4 rounded-lg bg-white border">
                <form method="POST" action="/listings">
                    <div id="suburbInputForm" class="form-group mb-1">
                        <label for="suburbInput">Suburb</label>
                        <input id="suburbInput" type="text" class="form-control" name="suburb_name" placeholder="Suburb" list="suburbs" required>
                        <small id="suggested" class="form-text text-muted pt-1 pb-2">Suggested suburbs</small>
                        <div class="mx-n1">
                            <a class="btn btn-secondary text-light rounded-pill px-4 mb-2 mx-1">Carlton</a>
                            <a class="btn btn-secondary text-light rounded-pill px-4 mb-2 mx-1">St. Albans</a>
                            <a class="btn btn-secondary text-light rounded-pill px-4 mb-2 mx-1">Werribee</a>
                            <a class="btn btn-secondary text-light rounded-pill px-4 mb-2 mx-1">Frankston</a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-4">
                            <label for="bedroomInput">Bedrooms</label>
                            <select class="form-control" id="bedroomInput" name="bedrooms">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5+</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-lg-4">
                            <label for="bathroomInput">Bathrooms</label>
                            <select class="form-control" id="bathroomInput" name="bathrooms">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5+</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-lg-4">
                            <label for="carSpaceInput">Car spaces</label>
                            <select class="form-control" id="carSpaceInput" name="carspaces">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5+</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary rounded-pill px-4 py-2" type="submit">Find it</button>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <div class="w-75 mx-auto">
                <h2 class="pt-5">Get started with the Stay app!</h2>
                <p class="lead">
                    Welcome to the RMIT Cloud Computing assignment from semester 2 2019 ✌
                </p>
                <p class="lead">
                    Get started by either going to the pre-filtered searches or will out a form!
                </p>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script src="{{ url_for('static', path='index.js') }}"></script>
{% endblock %}
