{% extends "base.html" %}
{% block content %}
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light p-4">
                <form method="POST">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="exampleFormControlSelect1">Suburb</label>
                            <input type="text" class="form-control" name="suburb_name" placeholder="Suburb" list="suburbs" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="exampleFormControlSelect1">Min Rooms</label>
                            <select class="form-control" name="min_bedrooms">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="exampleFormControlSelect1">Max Rooms</label>
                            <select class="form-control" name="max_bedrooms">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5+</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="exampleFormControlSelect1">Min Bathrooms</label>
                            <select class="form-control" name="min_bathrooms">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="exampleFormControlSelect1">Max BathRooms</label>
                            <select class="form-control" name="max_bathrooms">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5+</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="exampleFormControlSelect1">Min Carspaces</label>
                            <select class="form-control" name="min_carspaces">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="exampleFormControlSelect1">Max Carspaces</label>
                            <select class="form-control" name="max_carspaces">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="container">
        {% if listings is defined %}
            {% for p in listings %}
                {% if p['type'] ==  'PropertyListing' %}
                    <ul>
                        <a href="{{ url_for('listing', property_id = p['listing']['id']) }}">
                            <li>
                                <div class="row">
                                    <img src="{{ p['listing']['media'][0]['url'] }}"
                                         style="height:150px;">{{ p['listing']['propertyDetails']['displayableAddress'] }}
                                    <br>
                                    {{ p['listing']['propertyDetails']['bedrooms'] }}
                                    Bed, {{ p['listing']['propertyDetails']['bathrooms'] }}
                                    Bath, {{ p['listing']['propertyDetails']['carspaces'] }} carspace
                                    <br>
                                    {{ p['listing']['propertyDetails']['landArea'] }} sqm
                                    <br>
                                    {{ p['listing']['priceDetails']['displayPrice'] }}
                                </div>
                            </li>
                        </a>
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <script src="js/js"></script>
{% endblock %}