{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card shadow-lg">
                    <img class="img-fluid card-img-top" src="{{ listing['media'][0]['url'] }}" alt="listing">
                    <div class="card-body">
                        <h2 class="card-title mb-4 font-weight-bold">{{ listing['priceDetails']['displayPrice'] }}</h2>
                        <h4>Price estimate</h4>
                        <p>Enter house price estimate to calculate added costs</p>
                        <form class="form-inline" method="POST" action="{{ url_for('get_price', property_id=listing['id']) }}">
                            <label class="sr-only" for="priceInput">Price</label>
                            <input id="priceInput" type="number" class="form-control mr-2" name="price_estimate" placeholder="Please Enter Value">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <small class="form-text text-muted">Data is fetched from a database</small>
                  </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="mx-auto w-75">
                    <h1 class="font-weight-bold py-5">{{ listing['headline'] }}</h1>
                    <p class="card-text">{{ listing['description'] | safe }}</p>
                    {% if fees is defined %}
                        <p>
                            Listed below are the additional fees that you'll likely be required to pay on top of the
                            property price.
                        </p>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table">
                            {% if fees is defined %}
                                <tr>
                                    <td>Stamp Duty</td>
                                    <td>{{ fees.stamp_duty }}</td>
                                </tr>
                                <tr>
                                    <td>Mortgage Registration Fee (Electronic)</td>
                                    <td>{{ fees.mortgage_registration_fee }}</td>
                                </tr>
                                <tr>
                                    <td>Land Transfer Fee</td>
                                    <td>{{ fees.land_transfer_fee }}</td>
                                </tr>
                                <tr>
                                    <td>Conveyancing</td>
                                    <td>{{ fees.conveyancing_fee }}</td>
                                </tr>
                                <tr>
                                    <td>TOTAL</td>
                                    <td>{{ fees.total_fees }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                    <h2 class="pb-2">Crime</h2>
                    <p class="pb-2">
                        {{ suburb.name }}'s crime rate in 2019 is {{ suburb.get_low_high_crime_state_2019(council) }}
                        than it's council {{ council.name }}, which itself has a
                        {{ council.get_low_high_crime_state_2019(state) }} crime rate than the state of {{ state.name }}
                    </p>
                    <img class="img-fluid rounded-lg shadow-lg" src="/{{ crime_fig_url }}" alt="crime_fig">
                </div>
            </div>
        </div>
    </div>
{% endblock %}